@media screen and (max-width: 768px){
    html{
        background-color: #601002; 
    }
    body{
        width: 100vw;
        height: 627px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #601002
        
    }

    .principal{
        display: block;
    width: auto;
    height: 643px;
    border: none;
    padding-top: 10px;
    background-color: #601002
    }

    .principal-texto{
        padding-bottom: 3px;
        width: 325px;
        height: 587px;
    }
    .principal-titulo{
        margin: 0;
        margin-left: 52px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .principal-sobre{
        margin: auto;
        margin-left: 120px;
     
    }

    .conteudo{
        width: 390px;
        margin: 0;
        padding-top: 40px;
        
    }
    .conteudo-titulo{
        margin-left: 40px;
    }

    .conteudo-lista{
        margin-left: 20px;
    }
  
    .principal-imagem{
        margin: 0 auto;
        height: 562px;
        background-color: #601002; 
        padding-top: 10px;
        
    }


    .principal-form{
        height: 500px;
    }

    .cadastro{
        margin-left: 38px;
        margin-top: 158px;
    }

    .icones{
        margin-top: 80px;
    }

    /* Segunda página responsividades */

    .principal-pagina-sucesso{
       
        display: flex;
        flex-direction: column;
        width: 480px;
        padding-top: 332px;
        background-color: #601002; 
         
    }
    .principal-titulo-dois{
       
        color: #ffe501;
        font-family: 'Satisfy', cursive;
        font-size: 62px;
        margin-bottom: 40px;
    }
    .principal-sobre-dois{
        color: #fcea9d;
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        font-weight: bold;
        margin-left: 38px;
       
    }
    
    .principal-texto-dois{
        width: 498px;
        height: 540px;
        background: url("./img/clave\ de\ sol.jpg") no-repeat;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        
    }
    .principal-imagem-dois{
        display: none;
    }

}